header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/logo-web-chat.svg", alt="Logo")
      
      .col-9
        .inner-menu
          nav
            ul
              li
                a(href="/")
                  i.fas.fa-home
                  |  Trang chủ
              
              if (user)
                li
                  a(href="/user/profile")
                    i.fas.fa-user-circle
                    |  #{user.fullName}
                li
                  a(href="/user/friends")
                    i.fas.fa-users
                    |  Bạn bè
                li
                  a(href="/user/rooms")
                    i.fas.fa-comments
                    |  Phòng chat
                li
                  a(href="/user/logout")
                    i.fas.fa-sign-out-alt
                    |  Đăng xuất
              else
                li
                  a(href="/user/login")
                    i.fas.fa-sign-in-alt
                    |  Đăng nhập
                li
                  a(href="/user/register")
                    i.fas.fa-user-plus
                    |  Đăng ký